<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>3EX</title>
  <META name="renderer" content="webkit">
  <META http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" type="text/css" href="static/css/base.css?v=<%= htmlWebpackPlugin.options.version %>">
  <link rel="stylesheet" type="text/css" href="static/css/public.css?v=<%= htmlWebpackPlugin.options.version %>">
  <script src="static/js/md5.js"></script>
  <script src="static/js/aes.js"></script>
  <script src="static/js/crypto-helper-pkcs7.js"></script>
  <script src="static/js/moment.min.js"></script>
  <script src="static/js/Int64.js"></script>
  <script src="static/js/imvSDK.js"></script>
  <script src="static/js/jquery-3.3.1.min.js"></script>
  <script src="static/js/jquery-ui.min.js"></script>
  <script src="static/js/charting_library.min.js"></script>

</head>
<body style="background: #EEF2FB;">
<div id="app"></div>
<!--<div id="container" style="height: 400px"></div>-->
<!-- built files will be auto injected -->


</body>
</html>
